# dependencies
/node_modules

# production
/dist
/build

# misc
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# VSCode
.vscode

# local coverage
coverage

# IDE files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
Thumbs.db